# Folders
.venv/
**/__pycache__/

# Django
/static_volume/
/media_volume/
/media/
/static/
/data/
/staticfiles/

# Ningx
/logs/

# DB
*.sqlite3
/postgres/

# Environment
.env
.env-local
.divio

# Development
/dev/