{% extends './base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

<div class="row">
    <h1 class="mt-4 mb-4 col-6">{% trans "List" %}</h1>
    <form action="{% url 'set_language' %}" method="post" class="col-6 mt-4">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
</div>

<div class="row">
    <div class="col-12 col-lg-2 mb-3">
        <form action="{% url 'article_list' %}" method=POST>
            {% csrf_token %}
            {% for tag in tags %}
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    name={{ tag.name }}
                    id={{ tag.name }}
                    {% if tag.selected == True %} checked {% endif %}
                >
                <label class="form-check-label" for={{ tag.name }}>
                    {{ tag.name }}
                </label>
            </div>
            {% endfor %}
            <button class="btn btn-outline-primary mt-2" type="submit">{% trans "Filter by tag" %}</button>
        </form>
    </div>

    <div class="col-12 col-lg-10">
        <div class="row g-2">
            {% for article in articles %}
            <div class="col-12 col-sm-6 col-lg-4">
                <a class="text-decoration-none text-reset" href={{article.slug}}>
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src={{ article.image }} alt={{ article.slug }}>
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.content | safe |truncatewords:7|slice:"-4" }}...</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock content %}
